# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# PyCharm / IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Test / coverage
.coverage
.coverage.*
htmlcov/
.tox/
nose2-junit.xml
pytest_cache/
.pytest_cache/
